.settings-screen-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.836);
}

.settings-screen-fps-wrapper {
    width: 93%;
    height: 26%;
    display: flex;
    margin: 8% auto;
    align-items: center;
}


.settings-screen-fps-box {
    width: 24%;
    height: 100%;
    background-image: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(255,50,50,0) 65%), url(https://media.discordapp.net/attachments/1080339362211963002/1086282474822303774/Screenshot_89.png?width=1191&height=669);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 9px;
    transition: .1s all;
}

.settings-screen-fps-box:hover {
    scale: 1.25;
    box-shadow: 10px 10px 10px black;
}

.settings-screen-fps-box-header {
    width: 100%;
    height: 5%;
    text-align: center;
    position: relative;
    margin-top: 57%;
    font-weight: 800;
}
#reset {
    background-image: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(255,50,50,0) 65%), url(https://cdn.discordapp.com/attachments/1080339362211963002/1086286338996850778/Screenshot_91.png);
}

#medium {
    background-image: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(255,50,50,0) 65%), url(https://cdn.discordapp.com/attachments/1080339362211963002/1086286539002224673/Screenshot_94.png);
}

#low {
    background-image: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(255,50,50,0) 65%), url(https://cdn.discordapp.com/attachments/1080339362211963002/1086286469229981706/Screenshot_93.png);
}

#ultralow {
    background-image: linear-gradient(356deg, rgba(0,0,0,1) 0%, rgba(255,50,50,0) 65%), url(https://cdn.discordapp.com/attachments/1080339362211963002/1086286399214460948/Screenshot_92.png);
}


.settings-screen-crosshair-wrapper {
    height: 38%;
    width: 91%;
    margin: 0 auto;
    margin-top: -5%;
    overflow: hidden;
    overflow-y: scroll;
}


.settings-screen-crosshair-box {
    background: #0000007d;
    width: 10%;
    height: 45%;
    float: left;
    margin: 1%;
}


.settings-screen-crosshair-box-header {
    text-align: center;
    height: 14%;
    margin-top: 6%;
    font-weight: 200;
    font-style: italic;
}

.settings-screen-crosshair-box-icon {
    width: 46%;
    height: 13%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 25% auto;
}

.settings-screen-crosshair-box-select {
    width: 76%;
    margin: 0 auto;
    text-align: center;
    background: #0000003b;
    border: 1px solid #ffffff5c;
    padding: 8px;
    font-size: 10px;
    transition: .1s all;
}

.settings-screen-crosshair-box-select:hover {
    scale: 1.2;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    color: black;
    font-weight: 900;
}

.crosshair {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}